// .logo-frame {
//   position: relative;
//   display: grid;
//   width: 100%;
//   max-width: 500px;
//   margin: auto;
// }

.logo-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
  padding-inline: 4rem;
  justify-items: center;
  align-items: center;
  z-index: 2;
}

.logo-wrapper img {
  width: 50px;
  height: auto;
}
.nav-tabs {
  border-bottom: none; 
}

.nav-tabs .nav-link {
  border: none;
  color: white;
}

.nav-tabs .nav-link.active {
  border: none;
  background-color: transparent;    
  // color: $heading-gradient; 
  margin-left: 125px;
 
}

.flip-y {
  transform: rotateY(180deg);
  transition: transform 0.8s ease-in-out;
}

.tabs-inside {
  position: absolute;
  top: 2rem;
  // left: .5rem;
  // padding: 1.5rem 2rem;
  z-index: 3;
}



// @media(max-width: 1399px){
//   .nav-tabs .nav-link.active {
//     border: none;
//     background-color: rgba(0, 0, 0, 0);
//     color: #58ffde;
//     margin-left: 30px;
// }
// }

// @media(max-width: 1199px){
//   .nav-tabs .nav-link.active {
//     border: none;
//     background-color: rgba(0, 0, 0, 0);
//     color: #58ffde;
//     margin-left: -30px;
// }
// }

// @media(max-width: 991px){
//   .nav-tabs .nav-link.active {
//     border: none;
//     background-color: rgba(0, 0, 0, 0);
//     color: #58ffde;
//     margin-left: 30px;
// }
// }

// @media(max-width: 767px){
//   .nav-tabs .nav-link.active {
//     margin-left: 50px;
// }
// }

// @media(min-width: 360px)and (max-width: 575px){
//   .nav-tabs .nav-link.active {
//         margin-left: 173px;
//         font-size: 12px !important;
//         margin-top: -30px;
//     }
//     }


// @media(min-width: 360px)and (max-width: 575px){
//   .nav-tabs .nav-link.active {
//         margin-left: 173px;
//         font-size: 12px !important;
//         margin-top: -30px;
//     }
//     }
//   .nav-tabs .nav-link{
//     font-size: 12px;
//   }
//   .tabs-inside {
//   position: absolute;
//   padding: 1.5rem .825rem;
//   z-index: 3;
// }

