.service-card {
  max-width: 300px;
  display: grid;
  place-items: center;
  position: relative;
  text-align: center;
  overflow: hidden;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.service-card img,
.service-card .card-text {
  grid-area: 1 / 1;
}

.card-text h4 {
  font-weight: 600;
  font-size: 1.25rem;
  margin-top: 0.25rem;
}
.card-text p {
  font-size: 1rem; 
  margin: 0;
}

.service-card:hover {
  transform: translateY(-20px);
  filter: drop-shadow(-6px 6px 12px #7B38FF) drop-shadow(-4px 4px 18px #7B38FF);
}





